/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.wholePage{
	margin: 2% 5% 1% 5%;
}
header{
	display:flex;
	justify-content: space-evenly;
	
}
.navbar{
	display:flex;
	
	width:68%;
	justify-content:space-evenly;
	
}
.navbar a{
	text-decoration:none;
	color:grey;
	font-size: 20px;
}
.logo{
	justify-content: flex-end;
}
.banner div img{
	width:100%;
}
section.topPage{
	display:flex;
	justify-content: flex-start; 
	flex-wrap: wrap;
	width:90%;
	padding: 5% 0 5% 0;
	
}
.topPage h1{
	font-size: 28px;
}
section.mainBody{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: space-between;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 1% 0 2% 0;
	width:100%;
	height: 750px;
}
.productType{
	background-color: rgba(233, 229, 223, 0.933);
	border: 2px solid rgb(19, 5, 5);
	width: 45%;

	/* margin:1% 5% 0 0; */
	padding:1% 2% 0 2%;
}
.productType button{
	padding:2%;
	width:40%;
	margin:1% 0 2% 0;
}
.endOfBody{
	display:flex;
	justify-content: space-around;
	width: 100%;
	margin-top:3%;
	
}
.serviceFacts{
	width:50%;
}
.endOfBody ul{
	padding: 4% 0 0 3%;
	list-style-type: square;
}
.endOfBody img{
	height: 100%;
	
}
footer{
	display: flex;
	justify-content: center;
	margin-top: 3%;
}
p{
	line-height: 1.5;
}